<div class="wrapper">

  <!-- Navbar -->
  <sa-nav-bar></sa-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <sa-main-side-bar></sa-main-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <sa-control-side-bar></sa-control-side-bar>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <sa-footer></sa-footer>
</div>
<!-- ./wrapper -->
