<header class="page-header" role="banner">

    <!-- precisamos do logotipo aqui para quando o usuário muda para navegação no topo-->
    <sa-logo></sa-logo>

    <!-- atalho de mudança de layout do menu de navegação -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
      <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Esconder Navegação">
          <i class="ni ni-menu"></i>
      </a>
      <ul>
          <li>
              <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minimizar navegação">
                  <i class="ni ni-minify-nav"></i>
              </a>
          </li>
          <li>
              <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Bloquear navegação">
                  <i class="ni ni-lock-nav"></i>
              </a>
          </li>
      </ul>
  </div>
  <div class="hidden-lg-up">
    <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
        <i class="ni ni-menu"></i>
    </a>
  </div>
  <div class="search">
    <form class="app-forms hidden-xs-down" role="search" action="search-results.html" autocomplete="off">
        <input type="text" id="search-field" placeholder="Pesquisar" class="form-control" tabindex="1">
        <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
            <i class="fal fa-times"></i>
        </a>
    </form>
  </div>

  <div class="ml-auto d-flex">

    <!-- activate app search icon (mobile) -->
    <div class="hidden-sm-up">
        <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Pesquisar">
            <i class="fal fa-search"></i>
        </a>
    </div>

    <!-- app settings -->
    <div class="hidden-md-down">
        <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-settings">
            <i class="fal fa-cog"></i>
        </a>
    </div>

    <!-- app shortcuts -->
    <div>
        <a href="#" class="header-icon" data-toggle="dropdown" title="Minhas Aplicações">
            <i class="fal fa-cube"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-animated w-auto h-auto">
            <!-- <partial name="_DropdownApp" />-->
        </div>
    </div>

    <!-- app message -->
    <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-messenger">
        <i class="fal fa-globe"></i>
        <span class="badge badge-icon">!</span>
    </a>

    <!-- app notification -->
    <div>
        <a href="#" class="header-icon" data-toggle="dropdown" title="You got 11 notifications">
            <i class="fal fa-bell"></i>
            <span class="badge badge-icon">11</span>
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
            <!-- <partial name="_DropdownNotification" />-->
        </div>
    </div>

    <!-- app user menu -->
    <div>
        <a href="#" data-toggle="dropdown" title="drlantern&commat;gotbootstrap.com" class="header-icon d-flex align-items-center justify-content-center ml-2">
            <img src="assets/img/demo/avatars/avatar-m.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
            <!-- you can also add username next to the avatar with the codes below:
            <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
            <i class="ni ni-chevron-down hidden-xs-down"></i> -->
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
             <sa-dropdown-menu-user></sa-dropdown-menu-user>
        </div>
    </div>
</div>

</header>

