<aside class="page-sidebar">

  <sa-logo></sa-logo>

  <nav id="js-primary-nav" class="primary-nav" role="navigation">

     <sa-nav-filter></sa-nav-filter>

     <sa-nav-info-card></sa-nav-info-card>

     <div class="filter-message js-filter-message bg-success-600"></div>

     <sa-menu></sa-menu>
    <!-- <partial name="_NavFilter" />
    <partial name="_NavInfoCard" />
    <partial name="_PageNavigation" model="@NavigationModel.Seed" />
    <partial name="_NavFilterMsg" />-->
  </nav>

  <sa-nav-footer></sa-nav-footer>
</aside>

