
<div class="page-wrapper">
  <div class="page-inner">

    <sa-left-panel></sa-left-panel>

    <div class="page-content-wrapper">

      <sa-header></sa-header> <!--page header-->

      <main id="js-page-content" role="main" class="page-content">
        <!--  <partial name="_PageBreadCrumb" />-->

      </main>
      <!--PageContentOverlay-->
      <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
      <sa-page-footer></sa-page-footer>
     <!--
      <partial name="_PageFooter" />
      <partial name="_ShortCutModal" />-->
  </div>

  </div>
</div>
